.find-meals-container {
  padding-bottom: 3rem;
}

.sticky-sidebar {
  position: sticky;
  top: 2rem;
  max-height: calc(100vh - 4rem);
  overflow-y: auto;
}

.ingredient-chip {
  user-select: none;
}

.recipe-card {
  position: relative;
}




